.card {
  margin: 0 auto;
  margin-bottom: 5rem;
  max-width: 42rem;
}

table caption {
  font-size: 85%;
  font-style: italic;
  text-align: right;
  padding: 0.5em;
}

tbody td:first-of-type {
    font-style: italic;
    text-align: right;
}

tbody td:last-of-type {
    font-weight: 700;
    text-align: left;
}
