form {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 10px;
  background: #fff;
}

form .row {
  margin: 1rem;
}

form ul {
  display: none;
}

#category-list li {
  text-align: left;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#category-list li input {
  margin-right: .5rem;
}

.category-tags {
  color: #333;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  opacity: .65;
  margin: .25rem;
  padding: 0.375rem 0.75rem;
  border: 1px solid #d0670f;
  background: #fd7e14;
}

.category-tags i {
  cursor: pointer;
  margin-left: .75rem;
}

button {
  margin: 0 auto;
}

.suggestion {
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
}
.suggestion:last-of-type {
  border-bottom: 1px solid #ccc;
}
